
.navbar {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px
 
}

.navbar-logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #222222;
  margin-left: 20px;
}


.navbar-links {
  display: flex;
  align-items: center;
  gap: 35px;
  
}
.navbar-links a:hover {
  color: #000000;
}

.links{
    text-decoration: none;
    color: rgb(116, 110, 110);
}
.navbar-links a.active {
  color: #000000;
  font-weight: 600;
}
.navbar-links NavLink{
    text-decoration: none;
}

.navbar input {
  width: 220px;
  height: 30px;
  padding: 0 15px;
  background: none;
  border: transparent;
  font-size: 14px;
  outline: none;
  border-radius: 10px;
 
}
.search_bar{
  background-color: #fafafa;  
  border: 1px solid #dddddd;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  
}
.search_bar img {
    margin-left: 10px;
    width: 20px;
}
.navbar input:focus {
  border-color: #8f8a8a;
  background-color: #ffffff;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 40px

}

.navbar input::placeholder {
  color: #999999;
}
.img1{
    height: 30px;
    width:20px;
}
.img2{
    height: 23px;
    width:20px;
}.img3{
    height: 30px;
    width:30px;
}

@media (max-width: 900px) {
  .navbar {
    padding: 0 25px;
  }

  .navbar-links {
    gap: 20px;
  }

  .navbar input {
    width: 170px;
  }
}

@media (max-width: 700px) {
  .navbar {
    height: auto;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .navbar-links {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar input {
    width: 250px;
  }
}